---
import { getProjects } from "../utilities/data";
import Project from "../components/Project.astro";
import PageLayout from "@layouts/PageLayout.astro";
import HomePageLayout from "@layouts/HomePageLayout.astro";

const projects = await getProjects();
---

<PageLayout title="AKAI Apps">
  <HomePageLayout>
    <span>Wyświetlono: {projects.length} projekty</span>
    <ul class="grid gap-3 p-3 grid-cols-3">
      {
        projects.map((project) => (
          <li>
            <Project {...project} />
          </li>
        ))
      }
    </ul>
  </HomePageLayout>
</PageLayout>
