---
import { getProjects } from "../utilities/data";
import Project from "../components/Project.astro";
import MainPageLayout from "../layouts/MainPageLayout.astro";

const projects = await getProjects();
---

<MainPageLayout title="AKAI Apps">
  <main class="grid gap-y-3 p-3">
    <span>Wyświetlono: {projects.length} projekty</span>
    <ul class="grid gap-3 p-3">
      {
        projects.map((project) => (
          <li>
            <Project {...project} />
          </li>
        ))
      }
    </ul>
  </main>
</MainPageLayout>
