---
import { getProjects } from "@utilities/data";
import Sort from "@components/filters/Sort.astro";
import Project from "@components/Project.astro";
import PageLayout from "@layouts/PageLayout.astro";
import HomePageLayout from "@layouts/HomePageLayout.astro";
import FilterForm from "@components/FilterForm.astro";

const projects = await getProjects();
const languages = new Set(projects.map((project) => project.languages).flat());
---

<PageLayout title="AKAI Apps">
  <HomePageLayout>
    <search slot="filters" class="sticky top-0">
      <Sort />
      <FilterForm languages={languages} />
    </search>
    <div slot="projects">
      <div class="flex gap-2">
        <span
          >Wyświetlono: <span id="shown-counter">{projects.length}</span>
          projekty</span
        >
      </div>
      <ul id="projects_cont" class="grid gap-6 p-5 2xl:grid-cols-2">
        {projects.map((project) => <Project {...project} />)}
      </ul>
    </div>
  </HomePageLayout>
</PageLayout>
