---
import { getProjects } from "../utilities/data";
import Project from "../components/Project.astro";
import PageLayout from "@layouts/PageLayout.astro";
import HomePageLayout from "@layouts/HomePageLayout.astro";
import FilterForm from "@components/FilterForm.astro";

const projects = await getProjects();

const languages = new Set(projects.map((project) => project.languages).flat());
---

<script type="module">
  const projects = [...document.getElementsByClassName("project")];
  const form = document.getElementById("form");
  const shownCounter = document.getElementById("shown-counter");
// DO UPORZADKOWANIA (kiedys)
  function getHiddenProjects() {
   return [...document.querySelectorAll(`.hidden`)]; 
  }
  function filterProjects(filters, projects){
    if(filters.languages.length === 0) {
      const hiddenProjects = getHiddenProjects().map(project => project.classList.remove("hidden"));
      shownCounter.textContent = projects.length;
      return;
    }
    let counter = 0;  
    for(const project of projects) {
      const projectLangs = [...project.querySelectorAll(`[data-id="language-tag"]`)].map(tag => tag.textContent.trim());
      const hasLangs = projectLangs.some(lang => filters.languages.includes(lang)); 
      if(!hasLangs) {
        project.classList.add("hidden"); 
      }
      if(hasLangs) {
        counter++;
        project.classList.remove("hidden"); 
      }
    }
    shownCounter.textContent = counter;
  }

  form.addEventListener("input", (e) => {
    const data = new FormData(form);
    const filteredLanguages = new Set([...data].slice(1).map(entry => entry[1]));
    const filters = {
      search: data.values().next().value,
      languages: [...filteredLanguages]
    };
    filterProjects(filters, projects);
  });
</script>

<PageLayout title="AKAI Apps">
  <HomePageLayout>
    <div slot="filters">
      <FilterForm languages={languages} />
    </div>
    <div slot="projects">
      <span>Wyświetlono: <span id="shown-counter">{projects.length}</span> projekty</span>
      <ul class="grid lg:grid-cols-2 xl:grid-cols-3 gap-3 p-3">
        {
          projects.map((project) => (
              <Project {...project} />
          ))
        }
      </ul>
    </div>
  </HomePageLayout>
</PageLayout>
