---
import { getProjects } from "../utilities/data";
import Project from "../components/Project.astro";
import PageLayout from "@layouts/PageLayout.astro";
import HomePageLayout from "@layouts/HomePageLayout.astro";
import FilterForm from "@components/FilterForm.astro";

const projects = await getProjects();

const languages = new Set(projects.map((project) => project.languages).flat());
---

<PageLayout title="AKAI Apps">
  <HomePageLayout>
    <div slot="filters">
      <FilterForm languages={languages} />
    </div>
    <div slot="projects">
      <span
        >Wyświetlono: <span id="shown-counter">{projects.length}</span> projekty</span
      >
      <ul class="grid gap-3 p-3 lg:grid-cols-2 xl:grid-cols-3">
        {projects.map((project) => <Project {...project} />)}
      </ul>
    </div>
  </HomePageLayout>
</PageLayout>
