---
import LanguageFilter from "./filters/LanguageFilter.astro";
import SearchFilter from "./filters/SearchFilter.astro";
const { languages } = Astro.props;
---

<form id="form" class="grid">
  <SearchFilter />
  <LanguageFilter languages={languages} />
  <button type="submit">Zastosuj</button>
</form>

