---
import LanguageFilter from "./filters/LanguageFilter.astro";
import SearchFilter from "./filters/SearchFilter.astro";
import Sort from "./filters/Sort.astro";
const { languages } = Astro.props;
---

<script src="../utilities/project_forms/FormHandler.ts"></script>
<div id="form" class="grid gap-y-3 text-black accent-yellow-500">
  <form id="formSort">
    <Sort />
  </form>
  <form id="formFilter" class="grid gap-y-3">
    <SearchFilter />
    <LanguageFilter languages={languages} />
    <input
      type="reset"
      value="Wyczyść"
      class="w-fit rounded-lg bg-amber-400 px-3 py-2 font-bold text-white hover:cursor-pointer"
    />
  </form>
</div>
