---
import logo from "@assets/akai_logo.png";
import { Image } from "astro:assets";

const current_time = new Date().toLocaleString("en-GB", {
  timeZone: "Europe/Warsaw",
});
---

<header class="px-10 py-3">
  <h1 class="flex items-center gap-10 text-5xl">
    <a href="/" class="flex items-center gap-2 font-bold">
      <Image src={logo} alt="Logo AKAI" />Apps</a
    >
    <p class="hidden text-lg font-light md:block">
      Aplikacje stworzone przez członków AKAI.
    </p>
  </h1>
  <p>
    Dane aktualizowane ostatni raz: <span class="font-mono">{current_time}</span
    >
  </p>
</header>
