---
import { languageColors } from "@utilities/languageColors";
const { language } = Astro.props;
---

<li
  class="flex w-fit items-center gap-2 rounded-xl border-2 border-gray-100 bg-gray-50 p-1 dark:border-zinc-500 dark:bg-zinc-600 dark:text-white"
  data-id="language-tag"
>
  <div
    class="h-2 w-2 rounded-full"
    style={`background-color: ${languageColors[language.toLowerCase()]}`}
  >
  </div>
  {language}
</li>
