---
import { languageColors } from "@utilities/languageColors";
const { language } = Astro.props;
---

<li
  class="border-gray-100 bg-gray-50 flex items-center gap-2 rounded-xl border-2 p-1"
>
  <div
    class="h-2 w-2 rounded-full"
    style={`background-color: ${languageColors[language.toLowerCase()]}`}
  >
  </div>
  {language}
</li>
