@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IconWrapper {
  display: grid;
  font-size: 1.5vmax;
  margin: 10px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  column-gap: 2em;
  row-gap: 1em;
}

@media (min-width: 700px) {
  .IconWrapper {
    font-size: 1.4vmax;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    margin: 10px 40px;
    column-gap: 5vw;
    row-gap: 5vh;
  }
}

@media (min-width: 1000px) {
  .IconWrapper {
    margin: 10px 160px;
    font-size: 1.1vmax;
  }
}

.PageWrapper {
  color: #fff;
  min-height: 100vh;
  background-size: cover !important;
}