---
interface Props {
  name: string;
  url: string;
  languages: string[];
  index: number;
}
const { name, url, languages, index } = Astro.props;
---

<div>
  <span>{index}</span>
  <h2 class="font-bold">{name}</h2>
  <a href={url}>Sprawdź</a>
  <ul class="flex flex-row gap-2">
    {languages.map((language) => <li>{language}</li>)}
  </ul>
</div>
