---
import { getProjects, type Project } from "@utilities/data";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import ProjectCard from "@components/Project.astro";
import PageLayout from "@layouts/PageLayout.astro";
import HomePageLayout from "@layouts/HomePageLayout.astro";
import FilterForm from "@components/FilterForm.astro";

const projects = await getProjects();

type ProjectGroups = {
  valid: Project[];
  archived: Project[];
};

const projectGroups: ProjectGroups = {
  valid: [],
  archived: [],
};
for (const project of projects) {
  if (project.hasData) {
    projectGroups.valid.push(project);
  } else {
    projectGroups.archived.push(project);
  }
}
const countValidProjects = projectGroups["valid"]?.length;
const countArchivedProjects = projects.length - countValidProjects!;
const languages = new Set(projects.map((project) => project.languages).flat());

const currentLang = getLangFromUrl(Astro.url);
const translate = useTranslations(currentLang);
---

<script src="../../utilities/countChangeHandler.ts"></script>
<PageLayout title="portfolio koła AKAI">
  <HomePageLayout>
    <search slot="filters" class="sticky top-0">
      <FilterForm languages={languages} />
    </search>
    <div slot="projects">
      <div class="flex gap-2">
        <span
          >{translate("projects.total")}: <span id="totalShownCounter"
            >{projects.length} {translate("projects.noun")}</span
          >
        </span>
      </div>
      <details open id="validContToggle">
        <summary class="cursor-pointer"
          >{translate("projects.valid")}: <span id="validCounter">{countValidProjects} {translate("projects.noun")}</span
          ></summary
        >
        <ul
          class="projects_cont grid gap-6 p-1 sm:p-6 2xl:grid-cols-2"
          id="cont_valid"
        >
          {
            projectGroups["valid"]?.map((project) => (
              <ProjectCard {...project} />
            ))
          }
        </ul>
      </details>
      <details open id="archivedContToggle">
        <summary class="cursor-pointer"
          >{translate("projects.archived")}: <span id="archivedCounter"
            >{countArchivedProjects} {translate("projects.noun")}</span
          ></summary
        >
        <ul
          class="projects_cont grid gap-6 p-1 sm:p-6 2xl:grid-cols-2"
          id="cont_archived"
        >
          {
            projectGroups["archived"]?.map((project) => (
              <ProjectCard {...project} />
            ))
          }
        </ul>
      </details>
    </div>
  </HomePageLayout>
</PageLayout>
