---
const { languages } = Astro.props;
---

<label class="grid gap-y-1">
  <span class="font-semibold">Języki programowania</span>
  <div class="grid max-h-64 grid-cols-3 overflow-y-scroll sm:grid-cols-1">
    {
      [...languages].map((lang) => {
        return (
          <div>
            <input
              type="checkbox"
              name="language"
              value={lang}
              id={`lang-${lang.toLowerCase()}`}
            />
            <label for={`lang-${lang}`}>{lang}</label>
          </div>
        );
      })
    }
  </div>
</label>
