<label class="grid gap-y-1">
  <span class="font-semibold">Szukaj nazwę projektu</span>
  <input
    type="search"
    id="search"
    name="search"
    placeholder="Szukaj..."
    class="rounded-lg border border-zinc-200 bg-gray-100 p-3"
  />
</label>
