<script>
  const projects_containers = [
    ...document.getElementsByClassName("projects_cont"),
  ]!;
  const sort_input: HTMLInputElement = document.getElementById(
    "sort",
  ) as HTMLInputElement;
  function sortAlpha(a: any, b: any) {
    const a_title = (a?.querySelector("#title") as HTMLElement)?.innerText;
    const b_title = (b?.querySelector("#title") as HTMLElement)?.innerText;

    if (a_title === b_title) return 0;
    return a_title > b_title ? 1 : -1;
  }
  function sortStars(a: any, b: any) {
    const a_stars = parseInt(
      (a?.querySelector("#stars") as HTMLElement)?.innerText,
    );
    const b_stars = parseInt(
      (b?.querySelector("#stars") as HTMLElement)?.innerText,
    );

    if (a_stars == b_stars) return 0;
    return a_stars > b_stars ? 1 : -1;
  }
  function sortUpdateDate(a: any, b: any) {
    const a_date = (
      a?.querySelector("#updateDate") as HTMLElement
    )?.getAttribute("data-updateDate");
    const b_date = (
      b?.querySelector("#updateDate") as HTMLElement
    )?.getAttribute("data-updateDate");
    const a_time = new Date(a_date!).getTime();
    const b_time = new Date(b_date!).getTime();

    if (a_time == b_time) return 0;
    return a_time > b_time ? 1 : -1;
  }
  sort_input.addEventListener("change", () => {
    for (const projects_container of projects_containers) {
      let projects = [...projects_container?.children];
      const isDescending = sort_input?.value.includes("descend");
      const sort_type = sort_input?.value.split("_")[0];
      switch (sort_type) {
        case "alpha":
          projects = projects.toSorted(sortAlpha);
          break;
        case "star":
          projects = projects.toSorted(sortStars);
          break;
        case "date":
          projects = projects.toSorted(sortUpdateDate);
          break;
      }
      if (isDescending) projects.reverse();
      for (const project of projects) {
        projects_container?.appendChild(project);
      }
    }
  });
</script>
<label class="grid gap-y-1 text-black dark:text-white">
  <span class="font-semibold">Sortuj</span>
  <select
    name="sort"
    id="sort"
    class="rounded-lg border-2 p-3 dark:border-zinc-500 dark:bg-neutral-600 dark:text-white"
  >
    <option value="alpha_ascend">Nazwa: od A do Z</option>
    <option value="alpha_descend">Nazwa: od Z do A</option>
    <option value="star_ascend">Gwiazdki: rosnąco</option>
    <option value="star_descend">Gwiazdki: malejąco</option>
    <option value="date_ascend">Data: od najwcześniejszych</option>
    <option value="date_descend">Data: od najpóźniejszych</option>
  </select>
</label>
