<script>
  const projects_container = document.getElementById("projects_cont")!;
  const sort_input: HTMLInputElement = document.getElementById(
    "sort",
  ) as HTMLInputElement;

  function sortAlpha(a: any, b: any) {
    const a_title = (a?.querySelector("#title") as HTMLElement)?.innerText;
    const b_title = (b?.querySelector("#title") as HTMLElement)?.innerText;

    if (a_title === b_title) return 0;
    return a_title > b_title ? 1 : -1;
  }
  function sortStars(a: any, b: any) {
    const a_stars = parseInt(
      (a?.querySelector("#stars") as HTMLElement)?.innerText,
    );
    const b_stars = parseInt(
      (b?.querySelector("#stars") as HTMLElement)?.innerText,
    );

    if (a_stars == b_stars) return 0;
    return a_stars > b_stars ? 1 : -1;
  }

  sort_input.addEventListener("change", () => {
    let projects = [...projects_container?.children];
    const isDescending = sort_input?.value.includes("descend");
    const sort_type = sort_input?.value.split("_")[0];
    switch (sort_type) {
      case "alpha":
        projects = projects.toSorted(sortAlpha);
        break;
      case "star":
        projects = projects.toSorted(sortStars);
        break;
    }
    if (isDescending) projects.reverse();
    for (const project of projects) {
      projects_container?.appendChild(project);
    }
  });
</script>
<label class="grid gap-y-1">
  <span class="font-semibold">Sortuj</span>
  <select name="sort" id="sort">
    <option value="alpha_ascend">Nazwa: od A do Z</option>
    <option value="alpha_descend">Nazwa: od Z do A</option>
    <option value="star_ascend">Gwiazdki: rosnąco</option>
    <option value="star_descend">Gwiazdki: malejąco</option>
  </select>
</label>
