body {
  margin: 0;
  padding: 0;
  color: #fff;
}

.background {
  background: url("https://images.unsplash.com/photo-1539813310611-ed86c61f1850?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d8c719876cfdbca137472910222a5884&auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.wrapper {
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  margin: 50px 0 30px;
  padding: 10px 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  border: 1px solid;
  display: inline-block;
}

h1::first-letter {
  color: orange;
}

h2 {
  margin: 0;
  padding: 20px 0 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.projects section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 30px;
}

.project img {
  width: 140px;
  height: 140px;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.projects section.medium img {
  width: 105px;
  height: 105px;
  padding: 15px;
} 

.projects section.small img {
  width: 70px;
  height: 70px;
  padding: 10px;
} 

.project span {
  display: block;
  text-align: center;
  position: absolute;
  bottom: -20px;
  transform: translate(-50%, 50%);
  left: 50%;
}

.projects section.medium span {
  
} 

.projects section.small span {
  display: none;
} 

.project a {
  color: #fff;
  text-decoration: none;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}