---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const translate = useTranslations(getLangFromUrl(Astro.url));
const current_time = new Date().toLocaleString("en-GB", {
  timeZone: "Europe/Warsaw",
});
---

<section class="grid gap-3 lg:grid-cols-[1fr_minmax(70%,_80%)]">
  <aside class="p-3">
    <slot name="filters" />
  </aside>
  <main class="p-3">
    <slot name="projects" />
  </main>
</section>
<footer class="p-2 text-center text-sm">
  <p>
    {translate("page.lastUpdate")}: <span class="font-mono">{current_time}</span
    >
  </p>
</footer>
